a {
  text-decoration: none;
}
body {
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}
section {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.section_head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75rem;
  background: #050505;
  z-index: 10;
}
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.navbar .logo {
  position: relative;
  padding-left: 180rem;
  width: 38%;
  height: 75rem;
}
.navbar .logo img {
  width: 276rem;
}
.navbar .menu {
  position: relative;
  display: flex;
  top: 0;
  width: 62%;
}
.navbar .menu li {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  padding: 0 13rem;
  cursor: pointer;
  list-style-type: none;
}
.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}
.navbar .menu li.curr::before {
  position: absolute;
  content: "";
  background: url(../assets/underline-nav.png) no-repeat;
  background-size: 100%;
  width: 80%;
  height: 28px;
  top: 76%;
  z-index: -1;
}
.navbar .menu li.drop::before {
  position: absolute;
  content: "";
  background: url(../assets/Line-2-nav.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2px;
  top: 135%;
}
.navbar .menu li.drop img {
  position: absolute;
  top: -3rem;
  left: 80rem;
}
.navbar .menu li.drop .sub-menu {
  /* height: 20rem; */
  position: absolute;
  top: 150%;
  left: 15%;
  width: 100rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  padding: 0.25rem;
}
.navbar .menu li:nth-of-type(7) {
  margin-left: 180rem;
}
.navbar .menu .drop:hover .sub-menu,
.navbar .menu .sub-menu:hover {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.section1 {
  position: relative;
  height: 399rem;
}
.section2 {
  position: relative;
  background: #181818fd;
  height: 1000rem;
}
.section2 .content-up {
  position: relative;
  top: 80rem;
  padding-left: 383rem;
}
.section2 .content-up .title-up {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 48rem;
  color: #FFFFFF;
  width: 500rem;
}
.section2 .contact-wrap {
  display: flex;
  flex-direction: row;
  width: 57%;
  margin: 120rem auto 0;
  gap: 30rem;
}
.section2 .contact-wrap .contact {
  position: relative;
  background: url(../assets/contact/bg-info.png) top center no-repeat;
  background-size: 100%;
  width: 330rem;
  height: 330rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-top: 50rem;
  align-items: center;
}
.section2 .contact-wrap .contact img {
  position: relative;
  width: 109rem;
  height: 109rem;
}
.section2 .contact-wrap .contact .content {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  align-items: center;
}
.section2 .contact-wrap .contact .content .title {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
  padding-left: 90rem;
}
.section2 .contact-wrap .contact .content .text {
  position: relative;
  text-align: center;
  font-family: 'roboto';
  font-weight: lighter;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 200rem;
}
.section2 .contact-wrap .contact2 .title,
.section2 .contact-wrap .contact3 .title {
  padding-left: 79rem !important;
}
.section2 .info {
  position: relative;
  top: 150rem;
  padding-left: 600rem;
  display: block;
}
.section2 .info .title-main {
  position: relative;
  top: -50rem;
  padding-left: 220rem;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 48rem;
  color: #FFFFFF;
  width: 500rem;
}
.section2 .info .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
}
.section2 .info .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #cfcdcd;
  width: 300rem;
}
.section2 .info .phone {
  position: relative;
  top: 0;
  padding-left: 25rem;
}
.section2 .info .phone img {
  position: relative;
  top: 20rem;
  left: -25rem;
}
.section2 .info .phone .text:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.section2 .info .telephone {
  position: relative;
  top: 0;
  padding-left: 25rem;
}
.section2 .info .telephone img {
  position: relative;
  top: 20rem;
  left: -25rem;
}
.section2 .info .telephone .text:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.section2 .info .mail {
  position: relative;
  top: 0;
  padding-left: 25rem;
}
.section2 .info .mail img {
  position: relative;
  top: 23rem;
  left: -25rem;
}
.section2 .info .mail .text:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.section2 .info img {
  position: relative;
  top: -170rem;
  left: 220rem;
}
.section2 .email-us {
  position: relative;
  top: 70rem;
  padding-left: 500rem;
  display: none;
}
.section2 .email-us .title-main {
  position: relative;
  top: 0;
  margin-left: 250rem;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 48rem;
  color: #FFFFFF;
  width: 500rem;
}
.section2 .email-us form label {
  position: relative;
  top: 0;
  left: 0;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 500rem;
}
.section2 .email-us form label.name {
  position: relative;
  top: 50rem;
  left: 85rem;
}
.section2 .email-us form label.email {
  position: relative;
  top: 80rem;
  left: 85rem;
}
.section2 .email-us form label.phone {
  position: relative;
  top: -15rem;
  left: 455rem;
}
.section2 .email-us form label.title {
  position: relative;
  top: 10rem;
  left: 85rem;
}
.section2 .email-us form label.text {
  position: relative;
  top: 40rem;
  left: 85rem;
}
.section2 .email-us form input {
  display: block;
  width: 727rem;
  box-shadow: none;
  outline: none !important;
  height: 50rem;
  padding: 0 20rem;
  margin-bottom: 19rem;
  border-radius: 12px;
  font-family: 'roboto';
  font-weight: lighter;
  font-style: normal;
  font-size: 16rem;
  color: #181818fd;
}
.section2 .email-us form input.email,
.section2 .email-us form input.phone {
  width: 360rem;
}
.section2 .email-us form input.phone {
  position: relative;
  top: -8rem;
  margin-left: 450rem;
}
.section2 .email-us form input.name {
  position: relative;
  top: 56rem;
  margin-left: 85rem;
}
.section2 .email-us form input.email {
  position: relative;
  top: 86rem;
  margin-left: 85rem;
}
.section2 .email-us form input.title {
  position: relative;
  top: 15rem;
  margin-left: 85rem;
}
.section2 .email-us form textarea {
  display: block;
  width: 727rem;
  height: 190rem;
  border-radius: 12px;
  font-family: 'roboto';
  font-weight: lighter;
  font-style: normal;
  font-size: 16rem;
  color: #181818fd;
}
.section2 .email-us form textarea.text {
  position: relative;
  top: 50rem;
  margin-left: 85rem;
}
.section2 .email-us form .btn {
  position: relative;
  top: 90rem;
  margin-left: 300rem;
  display: block;
  background: url(../assets/contact/bg-btn.png) top center no-repeat;
  background-size: 100%;
  width: 250rem;
  height: 50rem;
}
.section2 .email-us form .btn a {
  position: relative;
  top: 8rem;
  left: 0;
  display: block;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #FFFFFF;
  text-decoration: none;
}
.section9 {
  position: relative;
  background: url(../assets/bg-sec8.png) top center no-repeat;
  background-size: 100%;
  height: 334rem;
  z-index: 1;
}
.section9 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section9 .container .row .col .content-inner {
  position: relative;
  display: block;
  top: 80rem;
  left: 120rem;
}
.section9 .container .row .col .content-inner p {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
}
.section9 .container .row .col .email {
  position: relative;
  display: flex;
  top: 42rem;
  left: 57rem;
  border-radius: 25px;
}
.section9 .container .row .col .email input {
  position: relative;
  display: flex;
  width: 273rem;
  height: 40rem;
  align-items: center;
  padding: 0 20rem;
  box-shadow: none;
  outline: none !important;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .email input::placeholder {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .sign {
  position: relative;
  display: flex;
  top: 110rem;
  left: 120rem;
  background: url(../assets/btn-sec8.png) no-repeat;
  background-size: 100%;
  width: 273rem;
  height: 39rem;
}
.section9 .container .row .col .sign a {
  position: relative;
  display: flex;
  align-items: center;
  left: 35%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 200rem;
}
.section9 .copy-right {
  position: relative;
  top: 166rem;
  left: 360rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 500rem;
}
