a {
  text-decoration: none;
}
body {
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}
section {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.section_head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75rem;
  background: #050505;
  z-index: 10;
}
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.navbar .logo {
  position: relative;
  left: 180rem;
  width: 20%;
  height: 75rem;
  text-align: center;
  float: left;
  line-height: 0;
}
.navbar .logo img {
  width: 276rem;
}
.navbar .menu {
  position: relative;
  display: flex;
  top: 0;
  width: 80%;
}
.navbar .menu li {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  padding: 0 13rem;
  cursor: pointer;
  list-style-type: none;
  left: 300rem;
}
.navbar .menu li:nth-of-type(7) {
  left: 480rem;
}
.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}
.navbar .menu li.curr::before {
  position: absolute;
  content: "";
  background: url(../assets/underline-nav.png) no-repeat;
  background-size: 100%;
  width: 80%;
  height: 28px;
  top: 84%;
  z-index: 20;
}
.navbar .menu li.drop::before {
  position: absolute;
  content: "";
  background: url(../assets/Line-2-nav.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2px;
  top: 135%;
}
.navbar .menu li.drop img {
  position: absolute;
  top: -3rem;
  left: 80rem;
}
.navbar .menu .sub-menu {
  /* height: 20rem; */
  position: absolute;
  top: 150%;
  left: 15%;
  width: 100rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  padding: 0.25rem;
}
.navbar .menu .drop:hover .sub-menu,
.navbar .menu .sub-menu:hover {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.section1 {
  position: relative;
}
.section1 img {
  width: 100%;
}
.section2 {
  position: relative;
  background: #000000;
  height: 1900rem;
}
.section2 .container {
  position: relative;
  width: 80%;
  margin: 120rem auto 0;
}
.section2 .container .row .col {
  position: relative;
  background: url(../assets/game/card.png) top center no-repeat;
  background-size: 100%;
  width: 377rem;
  height: 379rem;
  margin: 0 20rem;
  cursor: pointer;
}
.section2 .container .row .col img {
  position: relative;
  top: 265rem;
  left: 10rem;
}
.section2 .container .row .col .content {
  position: relative;
  top: 185rem;
  left: 110rem;
}
.section2 .container .row .col .content .title {
  margin: 0 0;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #181818;
  width: 200rem;
}
.section2 .container .row .col .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 12rem;
  color: #C60000;
  width: 100rem;
  cursor: pointer;
  text-decoration: none;
}
.section2 .container .row:nth-of-type(2) {
  position: relative;
  top: 50rem;
}
.section2 .container .row:nth-of-type(3) {
  position: relative;
  top: 100rem;
}
.section2 .container .row:nth-of-type(4) {
  position: relative;
  top: 150rem;
}
.section9 {
  position: relative;
  background: #181818fd;
  height: 334rem;
  z-index: 1;
}
.section9 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section9 .container .row .col .content-inner {
  position: relative;
  display: block;
  top: 80rem;
  left: 120rem;
}
.section9 .container .row .col .content-inner p {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
}
.section9 .container .row .col .email {
  position: relative;
  display: flex;
  top: 42rem;
  left: 57rem;
  border-radius: 25px;
}
.section9 .container .row .col .email input {
  position: relative;
  display: flex;
  width: 273rem;
  height: 40rem;
  align-items: center;
  padding: 0 20rem;
  box-shadow: none;
  outline: none !important;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .email input::placeholder {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .sign {
  position: relative;
  display: flex;
  top: 110rem;
  left: 120rem;
  background: url(../assets/btn-sec8.png) no-repeat;
  background-size: 100%;
  width: 273rem;
  height: 39rem;
}
.section9 .container .row .col .sign a {
  position: relative;
  display: flex;
  align-items: center;
  left: 35%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 200rem;
}
.section9 .copy-right {
  position: relative;
  top: 166rem;
  left: 360rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 500rem;
}
