a{
  text-decoration: none;
}

body {
    width: 100%;
    position: relative;
    overflow-y: auto;
    max-width: 1920px;
    margin: 0 auto;
  }

section{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section_head{
    position: fixed;
    width: 100%;
    height: 75rem;
    background: rgb(5, 5, 5);
    z-index: 10;
}

.navbar{
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;

  .logo{
    position: relative;
    padding-left: 180rem;
    width: 38%;
    height: 75rem;

    img{
      width: 276rem;
    }
  }

  .menu {
    position: relative;
    display: flex;
    top: 0;
    width: 62%;

    li {
      position: relative;
      font-family: 'roboto';
      font-weight: normal;
      font-style: normal;
      font-size: 16rem;
      padding: 0 13rem;
      cursor: pointer;
      list-style-type: none;

      a{
        color: #fff;
        text-decoration: none;
      }

      &.curr::before{
        position: absolute;
        content: "";
        background: url(../assets/underline-nav.png) no-repeat;
        background-size: 100%;
        width: 80%;
        height: 28px;
        top: 76%;
        z-index: -1;
      }

      &.drop::before{
        position: absolute;
        content: "";
        background: url(../assets/Line-2-nav.png) no-repeat;
        background-size: 100%;
        width: 100%;
        height: 2px;
        top: 135%;
      }

      &.drop{
        img{
          position: absolute;
          top: -3rem;
          left: 80rem;
        }

        .sub-menu {
          /* height: 20rem; */
          position: absolute;
          top: 150%;
          left: 15%;
          width: 100rem;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
          -webkit-transition: opacity 0.3s, visibility 0.3s;
          -moz-transition: opacity 0.3s, visibility 0.3s;
          -o-transition: opacity 0.3s, visibility 0.3s;
          padding: 0.25rem;
        }
      }
    }

    li:nth-of-type(7){
      margin-left: 180rem;
    }
  }

  .hamburger{
    position: relative;
    display: none;
    cursor: pointer;
    // left: 12rem;
    img{
      width: 64rem;
      height: 43rem;
    }
  }
}

  .navbar .menu .drop:hover .sub-menu,
  .navbar .menu .sub-menu:hover {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

.nav_mobile{
  display: none;
  position: relative;
  width: 100%;

  .close_menu {
    position: relative;
    img{
      width: 78rem;
    }
  }
}

@media (max-width: 1024px){
  .section_head{
    height: 105rem;
  }

  .navbar{
    .logo{
      height: 105rem;
      padding-top: 15rem;
      padding-left: 230rem;
    }

    .menu{
      display: none;
      width: 0%;
    }

    .hamburger{
      display: block;
      width: 62%;
      top: -0.2vh;
      padding-left: 1000rem;

    }
  }

  .nav_mobile{
    position: fixed;
    background: rgba(0, 1, 2, 0.95);
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35rem 0;
    justify-content: space-between;
    transform: translateY(-100vh);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s, opacity 0.2s, visibility 0.2s;
    
    .menu {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: unset;
  
      li {
        position: relative;
        font-family: 'roboto';
        font-weight: normal;
        font-style: normal;
        font-size: 65rem;
        cursor: pointer;
        list-style-type: none;
        line-height: 1.6;
  
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &.open{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px){
  .nav_mobile{
    .menu{
      li{
        font-size: 75rem;
      }
    }
  }
}

@media (max-width: 540px){
  .nav_mobile{
    .menu{
      li{
        font-size: 85rem;
      }
    }
  }
}
  
.section2{
    position: relative;
    background: url(../assets/bg-sec1.png) no-repeat;
    background-size: 100%;
    height: 899rem;

    .wrap{
      display: flex;
      flex-direction: column;
      padding: 244rem 0 0 236rem;

      .content{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 550rem;
        gap: 40rem;
        // margin-top: 204rem;
        // margin-left: 211rem;

        .title{
          font-family: 'roboto';
          font-weight: bold;
          font-style: normal;
          font-size: 50rem;
          color: #fff;
        }

        .text{
          font-family: 'roboto';
          font-weight: normal;
          font-style: normal;
          font-size: 16rem;
          color: #fff;
        }
      }

      .more-btn{
        background: url(../assets/btn-sec1.png) no-repeat;
        background-size: 100%;
        position: absolute;
        display: flex;
        width: 281rem;
        height: 74rem;
        margin-top: 250rem;
        // left: 0px;
        // top: 256px;

        a{
          position: relative;
          font-family: 'roboto';
          font-weight: bold;
          font-style: normal;
          font-size: 25rem;
          color: #fff;
          padding: 20rem 0 0 90rem;
          text-decoration: none;
        }
      }
    }

    .pic{
      display: none;
      // margin-top: -550rem;
      img{
        width: 1546rem;
        height: 991rem;
      }
    }
}  

@media (max-width: 1024px){
  .section2{
    background: #000000;
    height: 1550rem;
    .wrap{
      // padding: 0 0 0 236rem;
      padding: 0 0;
      align-items: center;
      .content{
        width: 610rem;
        .title{
          font-size: 60rem;
        }
        .text{
          font-size: 28rem;
          width: 730rem;
        }
      }

      .more-btn{
        margin-top: 410rem;
        margin-left: -300rem;
        width: 300rem;
        height: 80rem;
        a{
          font-size: 28rem;
        }
      }
    }

    .pic{
      display: block;
    }
  }
}

@media (max-width: 768px){
  .section2{
    .wrap{
      padding: 0 0;
      align-items: center;
      .content{
        width: 730rem;
        gap: 20rem;

        .title{
          font-size: 65rem;
        }
        .text{
          font-size: 30rem;
        }
      }

      .more-btn{
        // margin-top: 330rem;
        margin-left: -400rem;
        width: 315rem;
        height: 84rem;
        a{
          font-size: 31rem;
        }
      }
    }
  }
}

@media (max-width: 540px){
  .section2{
    height: 1650rem;
    .wrap{
      padding: 0 0;
      align-items: center;
      .content{
        width: 710rem;
        gap: 20rem;

        .title{
          font-size: 70rem;
        }
        .text{
          font-size: 40rem;
          width: 900rem;
        }
      }

      .more-btn{
        margin-top: 520rem;
        margin-left: -400rem;
        width: 315rem;
        height: 84rem;
        a{
          font-size: 31rem;
        }
      }
    }
  }
}

.section3{
  position: relative;
  background: url(../assets/bg-sec2.png) no-repeat;
  background-size: cover;
  height: 694rem;
  overflow: visible;

  .content-wrap{
    display: flex;
    flex-direction: row;
    padding-top: 61rem;
    padding-left: 207rem;
    column-gap: 312rem;

    .content{
      position: relative;
      display: flex;
      width: 400rem;
      flex-direction: column;
      row-gap: 20rem;
      padding-top: 149rem;

      .title{
        position: relative;
        // left: 211rem;
        // top: 204rem;
        font-family: 'roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 50rem;
        color: #fff;
      }

      .text{
        position: relative;
        // left: 211rem;
        // top: 204rem;
        font-family: 'roboto';
        font-weight: normal;
        font-style: normal;
        font-size: 16rem;
        color: #fff;
        width: 600rem;
      }
    }

    img{
      position: relative;
      width: 921rem;
      height: 520rem;
      // top: -80rem;
      // left: 900rem;
    }
  }

  .cube{
    position: relative;
    margin-top: -663rem;
    margin-left: 129rem;
    
    img{
      width: 233rem;
      height: 239rem;
    }
  } 
}  

@media (max-width: 1024px){
  .section3{
    background: #181818fd;
    height: 1300rem;

    .content-wrap{
      flex-direction: column;
      gap: 100rem;
      align-items: center;
      padding: 0 0;
      .content{
        margin-left: -195rem;
        .title{
          font-size: 60rem;
          width: 780rem;
        }
        .text{
          font-size: 28rem;
        }
      }
    }

    .cube{
      margin-top: -1127rem;
    }
  }
}

@media (max-width: 768px){
  .section3{
    .content-wrap{
      .content{
        width: 780rem;
        margin-left: 80rem;
        .title{
          font-size: 65rem;
          width: 780rem;
        }
        .text{
          font-size: 30rem;
          width: 780rem;
        }
      }
    }

    .cube{
      margin-top: -1147rem;
    }
  }
}

@media (max-width: 540px){
  .section3{
    height: 1300rem;
    .content-wrap{
      .content{
        margin-left: 0rem;
        .title{
          font-size: 70rem;
        }
        .text{
          font-size: 40rem;
          width: 800rem;
        }
      }
    }

    .cube{
      margin-top: -1273rem;
    }
  }
}

.section4{
  position: relative;
  background: url(../assets/bg-sec3.png) no-repeat;
  background-size: cover;
  height: 1372rem;
  overflow: visible;

  .wrapper{
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: 0 auto;
    padding-top: 50rem;

    gap: 50rem;

    .content{
      display: flex;
      flex-direction: column;
      gap: 5rem;
      // margin-left: 360rem;

      .title{
        font-family: 'roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 50rem;
        color: #fff;
      }

      .text{
        font-family: 'roboto';
        font-weight: normal;
        font-style: normal;
        font-size: 16rem;
        color: #fff;
        width: 700rem;

        ul{
          li{
            list-style-type: none;
          }
        }
      }
    }

    .images{
      display: flex;
      flex-direction: row;
      gap: 25rem;
      // width: 63%;
      // margin: 65rem auto 0;

      .i-left{
        position: relative;
        img{
          width: 592rem;
          height: 365rem;
        }
      }

      .i-right{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 27rem;

        .info{
          background: url(../assets/bg-info-sec3.png) no-repeat;
          background-size: 100%;
          width: 588rem;
          height: 170rem;
          // width: 688rem;
          // height: 210rem;
          display: flex;
          flex-direction: row;
          // column-gap: 20rem;

          img{
            width: 161rem;
            height: 170rem;
            position: relative;
            left: -1rem;
          }

          .text-wrapper{
            padding-top: 24rem;

            .text{
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 16rem;
              color: #515151;
            }
  
            .title{
              font-family: 'roboto';
              font-weight: bold;
              font-style: normal;
              font-size: 26rem;
              color: #515151;
            }
          }
          
        }
      }
    }

    .content-wrapper{
      display: flex;
      flex-direction: row;
      gap: 162rem;
      padding-left: 120rem;
      padding-top: 50rem;

      .service-list{
        display: flex;
        flex-direction: column;
        gap: 30rem;

        .row{
          display: flex;
          flex-direction: row;
          gap: 30rem;
          .info{
            background: url(../assets/bg-info2-sec3.png) no-repeat;
            background-size: 100%;
            width: 210rem;
            height: 210rem;
            display: flex;
            flex-direction: column;
            padding-top: 42rem;
            align-items: center;

            .title{
              font-family: 'roboto';
              font-weight: bold;
              font-style: normal;
              font-size: 40rem;
              color: #515151;
            }
      
            .text{
              padding-left: 22rem;
              width: 115rem;
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 20rem;
              color: #515151;
            }
          }

          .info3{
            .text{
              width: 130rem;
            }
          }

          .info4{
            .text{
              width: 130rem;
            }
          }
        }
      }

      .content-right{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 100rem;
        width: 430rem;
    
        .title{
          font-family: 'roboto';
          font-weight: bold;
          font-style: normal;
          font-size: 50rem;
          color: #FFFFFF;
          width: 300rem;
        }
    
        .text{
          font-family: 'roboto';
          font-weight: normal;
          font-style: normal;
          font-size: 16rem;
          color: #FFFFFF;
          width: 430rem;
        }
      }
    }
  }

  .cube{
    position: relative;
    margin-top: -1340rem;
    margin-left: 20rem;

    img{
      width: 424rem;
      height: 351rem;
    }
  }

  .cube-2{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    img{
      width: 511rem;
      height: 518rem;
    }
  }

  .cube-3{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    img{
      width: 411rem;
      height: 441rem;
    }
  }
}

@media (max-width: 1024px){
  .section4{
    background: #181818fd;
    height: 2400rem;

    .wrapper{
      display: flex;
      flex-direction: column;
      width: 64%;
      margin: 0 auto;
      padding-top: 50rem;
      align-items: center;
  
      gap: 50rem;
  
      .content{
        display: flex;
        flex-direction: column;
        gap: 5rem;
  
        .title{
          font-size: 60rem;
        }
  
        .text{
          font-size: 28rem;
          width: 700rem;

        }
      }
  
      .images{
        display: flex;
        flex-direction: column;
        gap: 34rem;
  
        .i-left{
          position: relative;
          img{
            width: 880rem;
            height: 510rem;
          }
        }
  
        .i-right{
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 27rem;
  
          .info{
            background: url(../assets/bg-info-sec3.png) no-repeat;
            background-size: 100%;
            width: 880rem;
            height: 253rem;
            display: flex;
            flex-direction: row;
  
            img{
              width: 220rem;
              height: 253rem;
              position: relative;
              left: -5rem;
            }
  
            .text-wrapper{
              padding-top: 24rem;
  
              .text{
                font-size: 28rem;
              }
    
              .title{
                font-size: 40rem;
              }
            }
            
          }
        }
      }
  
      .content-wrapper{
        display: flex;
        flex-direction: row;
        gap: 100rem;
        padding-left: 120rem;
        padding-top: 50rem;
  
        .service-list{
          display: flex;
          flex-direction: column;
          gap: 30rem;
  
          .row{
            display: flex;
            flex-direction: row;
            gap: 50rem;
            .info{
              padding-top: 28rem;
              width: 260rem;
              height: 260rem;
  
              .title{
                font-size: 60rem;
              }
        
              .text{
                width: 150rem;
                font-size: 28rem;

              }
            }
  
            .info3{
              .text{
                width: 170rem;
              }
            }
  
            .info4{
              .text{
                width: 175rem;
              }
            }
          }
        }
  
        .content-right{
          position: relative;
          display: flex;
          flex-direction: column;
          padding-top: 100rem;
          width: 430rem;
      
          .title{
            font-size: 60rem;
            width: 500rem;
          }
      
          .text{
            font-size: 28rem;
            width: 580rem;
          }
        }
      }
    }

    .cube{
      margin-top: -2340rem;
      margin-left: 20rem;
    }

    .cube-2{
      display: block;
      margin-top: 1770rem;
      margin-left: 55rem;
    }

    .cube-3{
      display: block;
      margin-top: -980rem;
      margin-left: 1490rem;
    }
  }
}

@media (max-width: 768px){
  .section4{
    height: 2550rem;

    .wrapper{
      gap: 50rem;
      .content{
        gap: 5rem;
  
        .title{
          font-size: 65rem;
        }
  
        .text{
          font-size: 30rem;
          width: 700rem;

        }
      }
  
      .images{
        gap: 34rem;
        
        .i-left{
          position: relative;
          img{
            width: 930rem;
            height: 565rem;
          }
        }

        .i-right{
          row-gap: 27rem;
  
          .info{
            width: 930rem;
            height: 269rem;
  
            img{
              width: 230rem;
              height: 269rem;
              position: relative;
              left: -5rem;
            }
  
            .text-wrapper{
              padding-top: 24rem;
  
              .text{
                font-size: 30rem;
              }
    
              .title{
                font-size: 45rem;
              }
            }
            
          }
        }
      }
  
      .content-wrapper{  
        gap: 100rem;
        .service-list{
          gap: 30rem;
          .row{
            display: flex;
            flex-direction: row;
            gap: 30rem;
            .info{
              padding-top: 28rem;
              width: 270rem;
              height: 270rem;
  
              .title{
                font-size: 65rem;
              }
        
              .text{
                width: 170rem;
                font-size: 30rem;

              }
            }
  
            .info3{
              .text{
                width: 180rem;
              }
            }
  
            .info4{
              .text{
                width: 180rem;
              }
            }
          }
        }
  
        .content-right{
          position: relative;
          display: flex;
          flex-direction: column;
          padding-top: 100rem;
          width: 430rem;
      
          .title{
            font-size: 65rem;
            width: 400rem;
          }
      
          .text{
            font-size: 30rem;
            width: 585rem;
          }
        }
      }
    }

    .cube{
      margin-top: -2490rem;
      margin-left: 20rem;
    }

    .cube-2{
      display: block;
      margin-top: 1925rem;
      margin-left: 55rem;
    }

    .cube-3{
      display: block;
      margin-top: -1070rem;
      margin-left: 1490rem;
    }
  }
}

@media (max-width: 540px){
  .section4{
    height: 3050rem;

    .wrapper{ 
      width: 70%;
      .content{  
        .title{
          font-size: 70rem;
        }
  
        .text{
          font-size: 40rem;
          width: 800rem;

        }
      }
  
      .images{ 
        .i-left{
          img{
            width: 1160rem;
            height: 680rem;
          }
        }
  
        .i-right{  
          .info{
            width: 1160rem;
            height: 339rem;
  
            img{
              width: 285rem;
              height: 339rem;
              position: relative;
              left: -5rem;
            }
  
            .text-wrapper{
              padding-top: 24rem;
  
              .text{
                font-size: 40rem;
              }
    
              .title{
                font-size: 50rem;
              }
            }
            
          }
        }
      }
  
      .content-wrapper{
        padding-left: 0;
        padding-top: 0;
        gap: 100rem;
  
        .service-list{
          gap: 30rem;
  
          .row{
            gap: 30rem;
            .info{
              width: 330rem;
              height: 330rem;
              padding-top: 28rem;
  
              .title{
                font-size: 70rem;
              }
        
              .text{
                width: 200rem;
                font-size: 40rem;

              }
            }
  
            .info3{
              .text{
                width: 250rem;
              }
            }
  
            .info4{
              .text{
                width: 250rem;
              }
            }
          }
        }
  
        .content-right{
          position: relative;
          display: flex;
          flex-direction: column;
          padding-top: 100rem;
          width: 430rem;
      
          .title{
            font-size: 70rem;
            width: 475rem;
          }
      
          .text{
            font-size: 40rem;
            width: 675rem;
          }
        }
      }
    }

    .cube{
      margin-top: -2890rem;
      margin-left: 20rem;
    }

    .cube-2{
      display: block;
      margin-top: 2335rem;
      margin-left: -20rem;
    }

    .cube-3{
      display: block;
      margin-top: -1120rem;
      margin-left: 1490rem;
    }
  }
}

.section5{
  position: relative;
  background: url(../assets/bg-sec4.png) no-repeat;
  background-size: 100%;
  height: 602rem;
  
  .wrap{
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: 0 auto;
    padding-top: 50rem;
    gap: 66rem;

    .road{
      padding-left: 40rem;
      display: flex;
      flex-direction: column;
      gap: 50rem;

      

      .content-wrap{
        display: flex;
        flex-direction: row;
        gap: 60rem;

        .content-down{
          display: flex;
          flex-direction: column;
          align-items: center;

          .title{
            font-family: 'roboto';
            font-weight: bold;
            font-style: normal;
            font-size: 24rem;
            color: #BF3236;
            width: 200rem;
          }

          .text{
            font-family: 'roboto';
            font-weight: normal;
            font-style: normal;
            font-size: 16rem;
            color: #606060;
            width: 100rem;
          }
        }

        .content-down:nth-of-type(2){
          .title{
            padding-left: 21rem;
          } 
        }

        .content-down:nth-of-type(3){
          .title{
            padding-left: 27rem;
          } 
        }

        .content-down:nth-of-type(4){
          .title{
            padding-left: 6rem;
          } 
        }

        .content-down:nth-of-type(5){
          .title{
            padding-left: 12rem;
          } 
        }
      }
    }
  
    .content{
      position: relative;
      display: flex;
      flex-direction: column;
      // gap: 2rem;
  
      .title{
        font-family: 'roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 50rem;
        color: #FFFFFF;
        width: 500rem;
      }
  
      .text{
        font-family: 'roboto';
        font-weight: normal;
        font-style: normal;
        font-size: 16rem;
        color: #FFFFFF;
        width: 400rem;
      }
    }
  }
  
} 

@media (max-width: 1024px){
  .section5{
    background: #000000;
    height: 800rem;

    .wrap{
      width: 80%;
      .content{
        .title{
          font-size: 60rem;
          width: 600rem;
        }
        .text{
          font-size: 28rem;
          width: 650rem;
        }
      }

      .road{
        img{
          width: 1436rem;
          height: 48rem;
        }
        .content-wrap{
          margin-left: -35rem;
          .content-down{
            .title{
              font-size: 40rem;
              width: 250rem;
            }
            .text{
              font-size: 28rem;
            }
          }

          .content-down:nth-of-type(2){
            padding-left: 21rem; 
          }
  
          .content-down:nth-of-type(3){
            .title{
              padding-left: 27rem;
            } 
          }
  
          .content-down:nth-of-type(4){
            .title{
              padding-left: 6rem;
            } 
          }
  
          .content-down:nth-of-type(5){
            padding-left: 21rem; 
          }
        }
      }
    }
  }
}


@media (max-width: 768px){
  .section5{
    height: 850rem;

    .wrap{
      width: 85%;
      .content{
        .title{
          font-size: 65rem;
          width: 600rem;
        }
        .text{
          font-size: 30rem;
          width: 700rem;
        }
      }

      .road{
        img{
          width: 1599rem;
          height: 54rem;
        }
        .content-wrap{
          margin-left: -20rem;
          .content-down{
            .title{
              font-size: 45rem;
              width: 280rem;
            }
            .text{
              font-size: 30rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px){
  .section5{
    height: 950rem;

    .wrap{
      .content{
        .title{
          font-size: 70rem;
          width: 700rem;
        }
        .text{
          font-size: 40rem;
          width: 900rem;
        }
      }

      .road{
        img{
          width: 1635rem;
          height: 58rem;
        }
        .content-wrap{
          margin-left: -50rem;
          .content-down{
            .title{
              font-size: 45rem;
              width: 300rem;
            }
            .text{
              font-size: 40rem;
              margin-left: -45rem;
            }
          }

          .content-down:nth-of-type(1){
            .text{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.section6{
  // background: url(../assets/bg-sec5.png) no-repeat;
  // background-size: 100%;
  background: #181818fd;
  height: 932rem;
  overflow: visible;

  .wrap{
    display: flex;
    flex-direction: column;
    gap: 30rem;
    padding-top: 80rem;
    width: 80%;
    margin: 0 auto;

    .title{
      position: relative;
      margin-left: 150rem;
      font-family: 'roboto';
      font-weight: bold;
      font-style: normal;
      font-size: 50rem;
      color: #FFFFFF;
      width: 500rem;
    }
  
    .container-wrap{
      position: relative;
      padding-top: 70rem;
      display: flex;
      flex-direction: row;
      gap: 30rem;
      margin: 0 auto;
  
      .col-wrap{
        display: flex;
        flex-direction: row;
        gap: 30rem;
        .col{
          display: flex;
          flex-direction: column;
          gap: 15rem;
          cursor: pointer;
          img{
            width: 329rem;
            height: 253rem;
          }

          .content{
            .title{
              margin: 0 0;
              font-family: 'roboto';
              font-weight: bold;
              font-style: normal;
              font-size: 24rem;
              color: #FFFFFF;
              width: 350rem;
              height: 100rem;
            }
  
            .text{
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 16rem;
              color: #FFFFFF;
              width: 100rem;
            }
          }
          .content-down{
            display: flex;
            flex-direction: row;
            gap: 55rem;
  
            .text{
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 16rem;
              color: #FFFFFF;
              width: 100rem;
            }
  
            .more{
              position: relative;
              display: flex;
              background: url(../assets/btn-info-sec5.png) no-repeat;
              background-size: 100%;
              width: 176rem;
              height: 34rem;
    
              a{
                position: relative;
                display: flex;
                align-items: center;
                left: 25%;
                text-decoration: none;
                font-family: 'roboto';
                font-weight: normal;
                font-style: normal;
                font-size: 16rem;
                color: #FFFFFF;
                width: 100rem;
              }
            }
          }
          
        }
      }
      .row:nth-of-type(2){
        position: relative;
        top: 50rem;
      }
    }
    .btn_more{
      position: relative;
      display: flex;
      align-self: center;
      // margin-left: 422rem;
      margin-top: 100rem;
      background: url(../assets/btn-sec5.png) no-repeat;
      background-size: 100%;
      width: 250rem;
      height: 50rem;
  
      a{
        position: relative;
        display: flex;
        align-items: center;
        left: 30%;
        text-decoration: none;
        font-family: 'roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 24rem;
        color: #FFFFFF;
        width: 200rem;
      }
    }
  }
  
  .cube{
    position: relative;
    // display: block;
    margin-top: -1062rem;

    img{
      width: 494rem;
      height: 441rem;
    }
  }

  .cube2{
    position: relative;
    margin-top: -190rem;
    margin-left: 1625rem;
    width: 200rem;

    img{
      width: 295rem;
      height: 290rem;
    }
  }
}

@media (max-width: 1024px){
  .section6{
    height: 1900rem;
    .wrap{
      .title{
        font-size: 60rem;
      }
      .container-wrap{
        flex-direction: column;
        gap: 60rem;
        .col-wrap{
          gap: 60rem;
          .col{
            gap: 20rem;
            img{
              width: 500rem;
              height: 413rem;
            }

            .content{
              .title{
                font-size: 35rem;
                width: 500rem;
                height: 150rem;
              }
            }

            .content-down{
              gap: 145rem;
              .text{
                font-size: 28rem;
                width: 125rem;
              }

              .more{
                width: 227rem;
                height: 44rem;

                a{
                  left: 17%;
                  font-size: 28rem;
                  width: 200rem;
                }
              }
            }
          }
        }
      }

      .btn_more{
        margin-top: 50rem;
        width: 300rem;
        height: 100rem;

        a{
          left: 25%;
          font-size: 35rem;
          width: 200rem;
          align-items: unset;
          padding-top: 4rem;
        }
      }
    }

    .cube{
      position: relative;
      // display: block;
      margin-top: -2010rem;
  
      img{
        width: 534rem;
        height: 471rem;
      }
    }
  
    .cube2{
      position: relative;
      margin-top: -240rem;
      margin-left: 1468rem;
      width: 335rem;
  
      img{
        width: 335rem;
        height: 330rem;
      }
    }
  }
}

@media (max-width: 768px){
  .section6{
    height: 2000rem;
    .wrap{
      .title{
        font-size: 65rem;
      }
      .container-wrap{
        flex-direction: column;
        gap: 60rem;
        .col-wrap{
          gap: 60rem;
          .col{
            gap: 20rem;
            img{
              width: 550rem;
              height: 448rem;
            }

            .content{
              .title{
                font-size: 40rem;
                width: 550rem;
                height: 165rem;
              }
            }

            .content-down{
              gap: 145rem;
              .text{
                font-size: 30rem;
                width: 135rem;
              }

              .more{
                width: 249rem;
                height: 49rem;

                a{
                  left: 17%;
                  font-size: 30rem;
                  width: 200rem;
                }
              }
            }
          }
        }
      }

      .btn_more{
        margin-top: 50rem;
        width: 300rem;
        height: 100rem;

        a{
          left: 25%;
          font-size: 40rem;
          width: 200rem;
          align-items: unset;
          padding-top: 4rem;
        }
      }
    }

    .cube{
      position: relative;
      // display: block;
      margin-top: -2155rem;
  
      img{
        width: 574rem;
        height: 511rem;
      }
    }
  
    .cube2{
      position: relative;
      margin-top: -240rem;
      margin-left: 1468rem;
      width: 375rem;
  
      img{
        width: 375rem;
        height: 370rem;
      }
    }
  }
}

@media (max-width: 540px){
  .section6{
    height: 2200rem;
    .wrap{
      .title{
        font-size: 70rem;
      }
      .container-wrap{
        flex-direction: column;
        gap: 60rem;
        .col-wrap{
          gap: 60rem;
          .col{
            gap: 20rem;
            img{
              width: 600rem;
              height: 500rem;
            }

            .content{
              .title{
                font-size: 45rem;
                width: 600rem;
                height: 190rem;
              }
            }

            .content-down{
              gap: 114rem;
              .text{
                font-size: 40rem;
                width: 178rem;
              }

              .more{
                width: 305rem;
                height: 63rem;

                a{
                  left: 17%;
                  font-size: 40rem;
                  width: 300rem;
                }
              }
            }
          }
        }
      }

      .btn_more{
        margin-top: 50rem;
        width: 380rem;
        height: 80rem;

        a{
          left: 25%;
          font-size: 45rem;
          width: 300rem;
          align-items: unset;
          padding-top: 10rem;
        }
      }
    }

    .cube{
      position: relative;
      // display: block;
      margin-top: -2270rem;
  
      img{
        width: 574rem;
        height: 511rem;
      }
    }
  
    .cube2{
      position: relative;
      margin-top: -240rem;
      margin-left: 1468rem;
      width: 375rem;
  
      img{
        width: 375rem;
        height: 370rem;
      }
    }
  }
}

.section7{
  background: url(../assets/bg-sec6.png) no-repeat;
  background-size: 100%;
  height: 866rem;
  margin-top: -62rem;

  .content{
    position: relative;
    display: block;
    margin-top: 150rem;
    margin-left: 388rem;

    .title{
      font-family: 'roboto';
      font-weight: bold;
      font-style: normal;
      font-size: 50rem;
      color: #FFFFFF;
      width: 500rem;
    }

    .text{
      font-family: 'roboto';
      font-weight: normal;
      font-style: normal;
      font-size: 16rem;
      color: #FFFFFF;
      width: 600rem;
    }
  }
  .container{
    position: relative;
    width: 60%;
    margin: 0 auto 0;
    .col-wrap{
      display: flex;
      flex-direction: row;
      gap: 50rem;
      .col{
        cursor: pointer;
        img{
          width: 646rem;
          height: 309rem;
        }
        .content-inner{
          position: relative;
          display: flex;
          flex-direction: column;

          .title-inner{
            
            font-family: 'roboto';
            font-weight: bold;
            font-style: normal;
            font-size: 32rem;
            color: #FFFFFF;
            width: 500rem;

            .number{
              font-size: 24rem;
            }
          }

          .text-inner{
            font-family: 'roboto';
            font-weight: normal;
            font-style: normal;
            font-size: 16rem;
            color: #FFFFFF;
            width: 520rem;

            .head{
              font-size: 24rem;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 1024px){
  .section7{
    background: #000000;
    height: 1900rem;
    .content{
      .title{
        font-size: 60rem;
      }
      .text{
        font-size: 28rem;
        width: 1100rem;
      }
    }

    .container{
      margin: 30rem auto 0;
      .col-wrap{
        flex-direction: column;
        gap: 60rem;

        .col{
          img{
            width: 1100rem;
            height: 663rem;
          }

          .content-inner{
            .title-inner{
              font-size: 60rem;
              .number{
                font-size: 30rem;
              }
            }
            .text-inner{
              font-size: 28rem;
              width: 1100rem;
              .head{
                font-size: 30rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .section7{
    background: #000000;
    height: 2000rem;
    .content{
      .title{
        font-size: 65rem;
      }
      .text{
        font-size: 30rem;
        width: 1100rem;
      }
    }

    .container{
      margin: 30rem auto 0;
      .col-wrap{
        flex-direction: column;
        gap: 60rem;

        .col{
          img{
            width: 1100rem;
            height: 663rem;
          }

          .content-inner{
            .title-inner{
              font-size: 65rem;
              .number{
                font-size: 35rem;
              }
            }
            .text-inner{
              font-size: 30rem;
              width: 1100rem;
              .head{
                font-size: 35rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px){
  .section7{
    background: #000000;
    height: 2600rem;
    .content{
      margin-left: 288rem;
      .title{
        font-size: 70rem;
      }
      .text{
        font-size: 40rem;
        width: 1400rem;
      }
    }

    .container{
      margin: 30rem auto 0;
      width: 72%;
      .col-wrap{
        flex-direction: column;
        gap: 60rem;

        .col{
          img{
            width: 1400rem;
            height: 963rem;
          }

          .content-inner{
            .title-inner{
              font-size: 70rem;
              width: 1400rem;
              .number{
                font-size: 45rem;
              }
            }
            .text-inner{
              font-size: 40rem;
              width: 1400rem;
              .head{
                font-size: 45rem;
              }
            }
          }
        }
      }
    }
  }
}

.section8{
  background: url(../assets/bgsec8.png) top center no-repeat;
  background-size: 100%;
  height: 692rem;
  overflow: visible;
  margin-top: -80rem;


  .texts{
    padding-top: 80rem;
    padding-left: 388rem;
    font-family: 'roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 50rem;
    color: #FFFFFF;
    width: 751rem;
  }
  
  .slide-cont{
    position: absolute;
    top: 250rem;
    left: 50%;
    transform: translate(-50%);
    // width: 120rem;
    // height: 379rem;

    .slide-box{
      position: relative;
      width: 700rem;
      height: 406rem;
      margin: 0 auto;

      .slide-item{
        transform: scale(0.67);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.6s, opacity 0.6s, visibility 0.6s;

        .slide-card{
          position: relative;
          height: 100%;
          width: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          .card-front{
            img{
              position: absolute;
              width: 700rem;
              border-radius: 48rem;
            }
          }
          
        }
      }

      .item-active {
        visibility: visible;
        opacity: 1;
      }

      .item-prev {
        transform: translateX(-330rem) scale(0.67);
      }
      
      .item-next,
      .item-prev {
          visibility: visible;
          z-index: 1;
          opacity: 0.6;
      }
      
      .item-next {
          transform: translateX(330rem) scale(0.67);
      }

      .item-center {
        transform: translate(0);
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .cube{
    position: relative;
    display: block;
    margin-top: -400rem;

    img{
      width: 566rem;
      height: 563rem;
    }
    
  }
  .cube2{
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 71rem;
    margin-left: 1340rem;

    img{
      width: 497rem;
      height: 640rem;
    }
    
  }
}

@media (max-width: 1024px){
  .section8{
    background: #181818fd;
    height: 900rem;

    .texts{
      font-size: 60rem;
      width: 1000rem;
    }

    .slide-cont{
      .slide-box{
        width: 900rem;
        height: 503rem;
        .slide-item{
          .slide-card{
            .card-front{
              img{
                width: 900rem;
                border-radius: 63rem;
              }
            }
          }
        }

        .item-prev {
          transform: translateX(-430rem) scale(0.67);
        }

        .item-next {
          transform: translateX(430rem) scale(0.67);
        }
      }
    }

    .cube{
      margin-top: -400rem;
      img{
        width: 566rem;
        height: 563rem;
      }
      
    }
    .cube2{
      margin-top: 254rem;
      margin-left: 1340rem;
  
      img{
        width: 497rem;
        height: 640rem;
      } 
    }
  }
}

@media (max-width: 768px){
  .section8{
    background: #181818fd;
    height: 900rem;

    .texts{
      font-size: 65rem;
      width: 1000rem;
    }

    .slide-cont{
      .slide-box{
        width: 900rem;
        height: 503rem;
        .slide-item{
          .slide-card{
            .card-front{
              img{
                width: 900rem;
                border-radius: 63rem;
              }
            }
          }
        }

        .item-prev {
          transform: translateX(-430rem) scale(0.67);
        }

        .item-next {
          transform: translateX(430rem) scale(0.67);
        }
      }
    }

    .cube{
      margin-top: -400rem;
      img{
        width: 566rem;
        height: 563rem;
      }
      
    }
    .cube2{
      margin-top: 254rem;
      margin-left: 1340rem;
  
      img{
        width: 497rem;
        height: 640rem;
      } 
    }
  }
}

@media (max-width: 540px){
  .section8{
    background: #181818fd;
    height: 900rem;

    .texts{
      font-size: 70rem;
      width: 1000rem;
    }

    .slide-cont{
      .slide-box{
        width: 900rem;
        height: 503rem;
        .slide-item{
          .slide-card{
            .card-front{
              img{
                width: 900rem;
                border-radius: 63rem;
              }
            }
          }
        }

        .item-prev {
          transform: translateX(-430rem) scale(0.67);
        }

        .item-next {
          transform: translateX(430rem) scale(0.67);
        }
      }
    }

    .cube{
      margin-top: -400rem;
      img{
        width: 566rem;
        height: 563rem;
      }
      
    }
    .cube2{
      margin-top: 254rem;
      margin-left: 1340rem;
  
      img{
        width: 497rem;
        height: 640rem;
      } 
    }
  }
}

.section9{
  background: url(../assets/bg-sec8.png) top center no-repeat;
  background-size: 100%;
  height: 334rem;
  z-index: 1;

  .container{
    position: relative;
    width: 60%;
    margin: 0 auto 0;
    .row{
      .col{
        .content-inner{
          position: relative;
          display: block;
          top: 80rem;
          left: 120rem;

          p{
            font-family: 'roboto';
            font-weight: normal;
            font-style: normal;
            font-size: 16rem;
            color: #FFFFFF;
            width: 300rem;
          }
        }

        .email{
            position: relative;
            display: flex;
            top: 42rem;
            left: 57rem;
            border-radius: 25px;
  
            input{
              position: relative;
              display: flex;
              width: 273rem;
              height: 40rem;
              align-items: center;
              padding: 0 20rem;
              box-shadow: none;
              outline: none !important;
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 16rem;
              color: #000000;
            }
  
            input::placeholder{
              position: relative;
              font-family: 'roboto';
              font-weight: normal;
              font-style: normal;
              font-size: 16rem;
              color: #000000;
            }
          }

        .sign{
          position: relative;
          display: flex;
          top: 110rem;
          left: 120rem;
          background: url(../assets/btn-sec8.png) no-repeat;
          background-size: 100%;
          width: 273rem;
          height: 39rem;

          a{
            position: relative;
            display: flex;
            align-items: center;
            left: 35%;
            text-decoration: none;
            font-family: 'roboto';
            font-weight: normal;
            font-style: normal;
            font-size: 16rem;
            color: #FFFFFF;
            width: 200rem;
          }
        }
      }
    }
  }

  .copy-right{
    position: relative;
    top: 166rem;
    left: 360rem;
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16rem;
    color: #FFFFFF;
    width: 500rem;
  }
}

@media (max-width: 1024px){
  .section9{
    background:#000000;

    .container{
      width: 80%;
      .row{
        .col{
          .content-inner{
            top: 40rem;
            left: 0;
  
            p{
              font-size: 28rem;
              width: 500rem;
            }
          }

          .email{
            top: 30rem;
            left: 53rem;
            border-radius: 25px;
  
            input{
              width: 350rem;
              height: 60rem;
              font-size: 28rem;
              outline: none !important;
            }
  
            input::placeholder{
              font-size: 28rem;
            }
          }

          .sign{
            top: 90rem;
            left: 113rem;
            width: 343rem;
            height: 51rem;

            a{
              font-size: 28rem;;
            }
          }
        }
      }
    }
    .copy-right{
      top: 70rem;
      left: 195rem;
      font-size: 28rem;
      width: 100%;
    }
  }
}

@media (max-width: 768px){
  .section9{
    height: 430rem;
    .container{
      width: 80%;
      .row{
        .col{
          .content-inner{
            top: 40rem;
            left: 0;
  
            p{
              font-size: 30rem;
              width: 430rem;
            }
          }

          .email{
            top: 30rem;
            left: 53rem;
            border-radius: 25px;
  
            input{
              width: 350rem;
              height: 60rem;
              font-size: 30rem;
            }
  
            input::placeholder{
              font-size: 30rem;
            }
          }

          .sign{
            top: 90rem;
            left: 113rem;
            width: 343rem;
            height: 51rem;

            a{
              font-size: 30rem;
            }
          }
        }
      }
    }
    .copy-right{
      top: 70rem;
      left: 195rem;
      font-size: 30rem;
      width: 100%;
    }
  }
}

@media (max-width: 540px){
  .section9{
    height: 600rem;
    .container{
      width: 80%;
      .row{
        .col{
          .content-inner{
            top: 40rem;
            left: 0;
  
            p{
              font-size: 40rem;
              width: 500rem;
            }
          }

          .email{
            top: 30rem;
            left: 53rem;
            border-radius: 25px;
  
            input{
              width: 400rem;
              height: 77rem;
              font-size: 40rem;
            }
  
            input::placeholder{
              font-size: 40rem;
              padding: 0 30rem;
            }
          }

          .sign{
            top: 90rem;
            left: 113rem;
            width: 390rem;
            height: 61rem;

            a{
              font-size: 40rem;
            }
          }
        }
      }
    }
    .copy-right{
      top: 70rem;
      left: 195rem;
      font-size: 40rem;
      width: 100%;
    }
  }
}
