a {
  text-decoration: none;
}
body {
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section_head {
  position: fixed;
  width: 100%;
  height: 75rem;
  background: #050505;
  z-index: 10;
}
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.navbar .logo {
  position: relative;
  padding-left: 180rem;
  width: 38%;
  height: 75rem;
}
.navbar .logo img {
  width: 276rem;
}
.navbar .menu {
  position: relative;
  display: flex;
  top: 0;
  width: 62%;
}
.navbar .menu li {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  padding: 0 13rem;
  cursor: pointer;
  list-style-type: none;
}
.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}
.navbar .menu li.curr::before {
  position: absolute;
  content: "";
  background: url(../assets/underline-nav.png) no-repeat;
  background-size: 100%;
  width: 80%;
  height: 28px;
  top: 76%;
  z-index: -1;
}
.navbar .menu li.drop::before {
  position: absolute;
  content: "";
  background: url(../assets/Line-2-nav.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2px;
  top: 135%;
}
.navbar .menu li.drop img {
  position: absolute;
  top: -3rem;
  left: 80rem;
}
.navbar .menu li.drop .sub-menu {
  /* height: 20rem; */
  position: absolute;
  top: 150%;
  left: 15%;
  width: 100rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  padding: 0.25rem;
}
.navbar .menu li:nth-of-type(7) {
  margin-left: 180rem;
}
.navbar .hamburger {
  position: relative;
  display: none;
  cursor: pointer;
}
.navbar .hamburger img {
  width: 64rem;
  height: 43rem;
}
.navbar .menu .drop:hover .sub-menu,
.navbar .menu .sub-menu:hover {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.nav_mobile {
  display: none;
  position: relative;
  width: 100%;
}
.nav_mobile .close_menu {
  position: relative;
}
.nav_mobile .close_menu img {
  width: 78rem;
}
@media (max-width: 1024px) {
  .section_head {
    height: 105rem;
  }
  .navbar .logo {
    height: 105rem;
    padding-top: 15rem;
    padding-left: 230rem;
  }
  .navbar .menu {
    display: none;
    width: 0%;
  }
  .navbar .hamburger {
    display: block;
    width: 62%;
    top: -0.2vh;
    padding-left: 1000rem;
  }
  .nav_mobile {
    position: fixed;
    background: rgba(0, 1, 2, 0.95);
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35rem 0;
    justify-content: space-between;
    transform: translateY(-100vh);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s, opacity 0.2s, visibility 0.2s;
  }
  .nav_mobile .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: unset;
  }
  .nav_mobile .menu li {
    position: relative;
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 65rem;
    cursor: pointer;
    list-style-type: none;
    line-height: 1.6;
  }
  .nav_mobile .menu li a {
    color: #fff;
    text-decoration: none;
  }
  .nav_mobile.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .nav_mobile .menu li {
    font-size: 75rem;
  }
}
@media (max-width: 540px) {
  .nav_mobile .menu li {
    font-size: 85rem;
  }
}
.section2 {
  position: relative;
  background: url(../assets/bg-sec1.png) no-repeat;
  background-size: 100%;
  height: 899rem;
}
.section2 .wrap {
  display: flex;
  flex-direction: column;
  padding: 244rem 0 0 236rem;
}
.section2 .wrap .content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550rem;
  gap: 40rem;
}
.section2 .wrap .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section2 .wrap .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #fff;
}
.section2 .wrap .more-btn {
  background: url(../assets/btn-sec1.png) no-repeat;
  background-size: 100%;
  position: absolute;
  display: flex;
  width: 281rem;
  height: 74rem;
  margin-top: 250rem;
}
.section2 .wrap .more-btn a {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 25rem;
  color: #fff;
  padding: 20rem 0 0 90rem;
  text-decoration: none;
}
.section2 .pic {
  display: none;
}
.section2 .pic img {
  width: 1546rem;
  height: 991rem;
}
@media (max-width: 1024px) {
  .section2 {
    background: #000000;
    height: 1550rem;
  }
  .section2 .wrap {
    padding: 0 0;
    align-items: center;
  }
  .section2 .wrap .content {
    width: 610rem;
  }
  .section2 .wrap .content .title {
    font-size: 60rem;
  }
  .section2 .wrap .content .text {
    font-size: 28rem;
    width: 730rem;
  }
  .section2 .wrap .more-btn {
    margin-top: 410rem;
    margin-left: -300rem;
    width: 300rem;
    height: 80rem;
  }
  .section2 .wrap .more-btn a {
    font-size: 28rem;
  }
  .section2 .pic {
    display: block;
  }
}
@media (max-width: 768px) {
  .section2 .wrap {
    padding: 0 0;
    align-items: center;
  }
  .section2 .wrap .content {
    width: 730rem;
    gap: 20rem;
  }
  .section2 .wrap .content .title {
    font-size: 65rem;
  }
  .section2 .wrap .content .text {
    font-size: 30rem;
  }
  .section2 .wrap .more-btn {
    margin-left: -400rem;
    width: 315rem;
    height: 84rem;
  }
  .section2 .wrap .more-btn a {
    font-size: 31rem;
  }
}
@media (max-width: 540px) {
  .section2 {
    height: 1650rem;
  }
  .section2 .wrap {
    padding: 0 0;
    align-items: center;
  }
  .section2 .wrap .content {
    width: 710rem;
    gap: 20rem;
  }
  .section2 .wrap .content .title {
    font-size: 70rem;
  }
  .section2 .wrap .content .text {
    font-size: 40rem;
    width: 900rem;
  }
  .section2 .wrap .more-btn {
    margin-top: 520rem;
    margin-left: -400rem;
    width: 315rem;
    height: 84rem;
  }
  .section2 .wrap .more-btn a {
    font-size: 31rem;
  }
}
.section3 {
  position: relative;
  background: url(../assets/bg-sec2.png) no-repeat;
  background-size: cover;
  height: 694rem;
  overflow: visible;
}
.section3 .content-wrap {
  display: flex;
  flex-direction: row;
  padding-top: 61rem;
  padding-left: 207rem;
  column-gap: 312rem;
}
.section3 .content-wrap .content {
  position: relative;
  display: flex;
  width: 400rem;
  flex-direction: column;
  row-gap: 20rem;
  padding-top: 149rem;
}
.section3 .content-wrap .content .title {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section3 .content-wrap .content .text {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #fff;
  width: 600rem;
}
.section3 .content-wrap img {
  position: relative;
  width: 921rem;
  height: 520rem;
}
.section3 .cube {
  position: relative;
  margin-top: -663rem;
  margin-left: 129rem;
}
.section3 .cube img {
  width: 233rem;
  height: 239rem;
}
@media (max-width: 1024px) {
  .section3 {
    background: #181818fd;
    height: 1300rem;
  }
  .section3 .content-wrap {
    flex-direction: column;
    gap: 100rem;
    align-items: center;
    padding: 0 0;
  }
  .section3 .content-wrap .content {
    margin-left: -195rem;
  }
  .section3 .content-wrap .content .title {
    font-size: 60rem;
    width: 780rem;
  }
  .section3 .content-wrap .content .text {
    font-size: 28rem;
  }
  .section3 .cube {
    margin-top: -1127rem;
  }
}
@media (max-width: 768px) {
  .section3 .content-wrap .content {
    width: 780rem;
    margin-left: 80rem;
  }
  .section3 .content-wrap .content .title {
    font-size: 65rem;
    width: 780rem;
  }
  .section3 .content-wrap .content .text {
    font-size: 30rem;
    width: 780rem;
  }
  .section3 .cube {
    margin-top: -1147rem;
  }
}
@media (max-width: 540px) {
  .section3 {
    height: 1300rem;
  }
  .section3 .content-wrap .content {
    margin-left: 0rem;
  }
  .section3 .content-wrap .content .title {
    font-size: 70rem;
  }
  .section3 .content-wrap .content .text {
    font-size: 40rem;
    width: 800rem;
  }
  .section3 .cube {
    margin-top: -1273rem;
  }
}
.section4 {
  position: relative;
  background: url(../assets/bg-sec3.png) no-repeat;
  background-size: cover;
  height: 1372rem;
  overflow: visible;
}
.section4 .wrapper {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin: 0 auto;
  padding-top: 50rem;
  gap: 50rem;
}
.section4 .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section4 .wrapper .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section4 .wrapper .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #fff;
  width: 700rem;
}
.section4 .wrapper .content .text ul li {
  list-style-type: none;
}
.section4 .wrapper .images {
  display: flex;
  flex-direction: row;
  gap: 25rem;
}
.section4 .wrapper .images .i-left {
  position: relative;
}
.section4 .wrapper .images .i-left img {
  width: 592rem;
  height: 365rem;
}
.section4 .wrapper .images .i-right {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 27rem;
}
.section4 .wrapper .images .i-right .info {
  background: url(../assets/bg-info-sec3.png) no-repeat;
  background-size: 100%;
  width: 588rem;
  height: 170rem;
  display: flex;
  flex-direction: row;
}
.section4 .wrapper .images .i-right .info img {
  width: 161rem;
  height: 170rem;
  position: relative;
  left: -1rem;
}
.section4 .wrapper .images .i-right .info .text-wrapper {
  padding-top: 24rem;
}
.section4 .wrapper .images .i-right .info .text-wrapper .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #515151;
}
.section4 .wrapper .images .i-right .info .text-wrapper .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 26rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 162rem;
  padding-left: 120rem;
  padding-top: 50rem;
}
.section4 .wrapper .content-wrapper .service-list {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}
.section4 .wrapper .content-wrapper .service-list .row {
  display: flex;
  flex-direction: row;
  gap: 30rem;
}
.section4 .wrapper .content-wrapper .service-list .row .info {
  background: url(../assets/bg-info2-sec3.png) no-repeat;
  background-size: 100%;
  width: 210rem;
  height: 210rem;
  display: flex;
  flex-direction: column;
  padding-top: 42rem;
  align-items: center;
}
.section4 .wrapper .content-wrapper .service-list .row .info .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 40rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper .service-list .row .info .text {
  padding-left: 22rem;
  width: 115rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 20rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper .service-list .row .info3 .text {
  width: 130rem;
}
.section4 .wrapper .content-wrapper .service-list .row .info4 .text {
  width: 130rem;
}
.section4 .wrapper .content-wrapper .content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100rem;
  width: 430rem;
}
.section4 .wrapper .content-wrapper .content-right .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 300rem;
}
.section4 .wrapper .content-wrapper .content-right .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 430rem;
}
.section4 .cube {
  position: relative;
  margin-top: -1340rem;
  margin-left: 20rem;
}
.section4 .cube img {
  width: 424rem;
  height: 351rem;
}
.section4 .cube-2 {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}
.section4 .cube-2 img {
  width: 511rem;
  height: 518rem;
}
.section4 .cube-3 {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}
.section4 .cube-3 img {
  width: 411rem;
  height: 441rem;
}
@media (max-width: 1024px) {
  .section4 {
    background: #181818fd;
    height: 2400rem;
  }
  .section4 .wrapper {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: 0 auto;
    padding-top: 50rem;
    align-items: center;
    gap: 50rem;
  }
  .section4 .wrapper .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .section4 .wrapper .content .title {
    font-size: 60rem;
  }
  .section4 .wrapper .content .text {
    font-size: 28rem;
    width: 700rem;
  }
  .section4 .wrapper .images {
    display: flex;
    flex-direction: column;
    gap: 34rem;
  }
  .section4 .wrapper .images .i-left {
    position: relative;
  }
  .section4 .wrapper .images .i-left img {
    width: 880rem;
    height: 510rem;
  }
  .section4 .wrapper .images .i-right {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 27rem;
  }
  .section4 .wrapper .images .i-right .info {
    background: url(../assets/bg-info-sec3.png) no-repeat;
    background-size: 100%;
    width: 880rem;
    height: 253rem;
    display: flex;
    flex-direction: row;
  }
  .section4 .wrapper .images .i-right .info img {
    width: 220rem;
    height: 253rem;
    position: relative;
    left: -5rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper {
    padding-top: 24rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .text {
    font-size: 28rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .title {
    font-size: 40rem;
  }
  .section4 .wrapper .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100rem;
    padding-left: 120rem;
    padding-top: 50rem;
  }
  .section4 .wrapper .content-wrapper .service-list {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row {
    display: flex;
    flex-direction: row;
    gap: 50rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info {
    padding-top: 28rem;
    width: 260rem;
    height: 260rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .title {
    font-size: 60rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .text {
    width: 150rem;
    font-size: 28rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info3 .text {
    width: 170rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info4 .text {
    width: 175rem;
  }
  .section4 .wrapper .content-wrapper .content-right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100rem;
    width: 430rem;
  }
  .section4 .wrapper .content-wrapper .content-right .title {
    font-size: 60rem;
    width: 500rem;
  }
  .section4 .wrapper .content-wrapper .content-right .text {
    font-size: 28rem;
    width: 580rem;
  }
  .section4 .cube {
    margin-top: -2340rem;
    margin-left: 20rem;
  }
  .section4 .cube-2 {
    display: block;
    margin-top: 1770rem;
    margin-left: 55rem;
  }
  .section4 .cube-3 {
    display: block;
    margin-top: -980rem;
    margin-left: 1490rem;
  }
}
@media (max-width: 768px) {
  .section4 {
    height: 2550rem;
  }
  .section4 .wrapper {
    gap: 50rem;
  }
  .section4 .wrapper .content {
    gap: 5rem;
  }
  .section4 .wrapper .content .title {
    font-size: 65rem;
  }
  .section4 .wrapper .content .text {
    font-size: 30rem;
    width: 700rem;
  }
  .section4 .wrapper .images {
    gap: 34rem;
  }
  .section4 .wrapper .images .i-left {
    position: relative;
  }
  .section4 .wrapper .images .i-left img {
    width: 930rem;
    height: 565rem;
  }
  .section4 .wrapper .images .i-right {
    row-gap: 27rem;
  }
  .section4 .wrapper .images .i-right .info {
    width: 930rem;
    height: 269rem;
  }
  .section4 .wrapper .images .i-right .info img {
    width: 230rem;
    height: 269rem;
    position: relative;
    left: -5rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper {
    padding-top: 24rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .text {
    font-size: 30rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .title {
    font-size: 45rem;
  }
  .section4 .wrapper .content-wrapper {
    gap: 100rem;
  }
  .section4 .wrapper .content-wrapper .service-list {
    gap: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row {
    display: flex;
    flex-direction: row;
    gap: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info {
    padding-top: 28rem;
    width: 270rem;
    height: 270rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .title {
    font-size: 65rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .text {
    width: 170rem;
    font-size: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info3 .text {
    width: 180rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info4 .text {
    width: 180rem;
  }
  .section4 .wrapper .content-wrapper .content-right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100rem;
    width: 430rem;
  }
  .section4 .wrapper .content-wrapper .content-right .title {
    font-size: 65rem;
    width: 400rem;
  }
  .section4 .wrapper .content-wrapper .content-right .text {
    font-size: 30rem;
    width: 585rem;
  }
  .section4 .cube {
    margin-top: -2490rem;
    margin-left: 20rem;
  }
  .section4 .cube-2 {
    display: block;
    margin-top: 1925rem;
    margin-left: 55rem;
  }
  .section4 .cube-3 {
    display: block;
    margin-top: -1070rem;
    margin-left: 1490rem;
  }
}
@media (max-width: 540px) {
  .section4 {
    height: 3050rem;
  }
  .section4 .wrapper {
    width: 70%;
  }
  .section4 .wrapper .content .title {
    font-size: 70rem;
  }
  .section4 .wrapper .content .text {
    font-size: 40rem;
    width: 800rem;
  }
  .section4 .wrapper .images .i-left img {
    width: 1160rem;
    height: 680rem;
  }
  .section4 .wrapper .images .i-right .info {
    width: 1160rem;
    height: 339rem;
  }
  .section4 .wrapper .images .i-right .info img {
    width: 285rem;
    height: 339rem;
    position: relative;
    left: -5rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper {
    padding-top: 24rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .text {
    font-size: 40rem;
  }
  .section4 .wrapper .images .i-right .info .text-wrapper .title {
    font-size: 50rem;
  }
  .section4 .wrapper .content-wrapper {
    padding-left: 0;
    padding-top: 0;
    gap: 100rem;
  }
  .section4 .wrapper .content-wrapper .service-list {
    gap: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row {
    gap: 30rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info {
    width: 330rem;
    height: 330rem;
    padding-top: 28rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .title {
    font-size: 70rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info .text {
    width: 200rem;
    font-size: 40rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info3 .text {
    width: 250rem;
  }
  .section4 .wrapper .content-wrapper .service-list .row .info4 .text {
    width: 250rem;
  }
  .section4 .wrapper .content-wrapper .content-right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100rem;
    width: 430rem;
  }
  .section4 .wrapper .content-wrapper .content-right .title {
    font-size: 70rem;
    width: 475rem;
  }
  .section4 .wrapper .content-wrapper .content-right .text {
    font-size: 40rem;
    width: 675rem;
  }
  .section4 .cube {
    margin-top: -2890rem;
    margin-left: 20rem;
  }
  .section4 .cube-2 {
    display: block;
    margin-top: 2335rem;
    margin-left: -20rem;
  }
  .section4 .cube-3 {
    display: block;
    margin-top: -1120rem;
    margin-left: 1490rem;
  }
}
.section5 {
  position: relative;
  background: url(../assets/bg-sec4.png) no-repeat;
  background-size: 100%;
  height: 602rem;
}
.section5 .wrap {
  display: flex;
  flex-direction: column;
  width: 63%;
  margin: 0 auto;
  padding-top: 50rem;
  gap: 66rem;
}
.section5 .wrap .road {
  padding-left: 40rem;
  display: flex;
  flex-direction: column;
  gap: 50rem;
}
.section5 .wrap .road .content-wrap {
  display: flex;
  flex-direction: row;
  gap: 60rem;
}
.section5 .wrap .road .content-wrap .content-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5 .wrap .road .content-wrap .content-down .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #BF3236;
  width: 200rem;
}
.section5 .wrap .road .content-wrap .content-down .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #606060;
  width: 100rem;
}
.section5 .wrap .road .content-wrap .content-down:nth-of-type(2) .title {
  padding-left: 21rem;
}
.section5 .wrap .road .content-wrap .content-down:nth-of-type(3) .title {
  padding-left: 27rem;
}
.section5 .wrap .road .content-wrap .content-down:nth-of-type(4) .title {
  padding-left: 6rem;
}
.section5 .wrap .road .content-wrap .content-down:nth-of-type(5) .title {
  padding-left: 12rem;
}
.section5 .wrap .content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section5 .wrap .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section5 .wrap .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 400rem;
}
@media (max-width: 1024px) {
  .section5 {
    background: #000000;
    height: 800rem;
  }
  .section5 .wrap {
    width: 80%;
  }
  .section5 .wrap .content .title {
    font-size: 60rem;
    width: 600rem;
  }
  .section5 .wrap .content .text {
    font-size: 28rem;
    width: 650rem;
  }
  .section5 .wrap .road img {
    width: 1436rem;
    height: 48rem;
  }
  .section5 .wrap .road .content-wrap {
    margin-left: -35rem;
  }
  .section5 .wrap .road .content-wrap .content-down .title {
    font-size: 40rem;
    width: 250rem;
  }
  .section5 .wrap .road .content-wrap .content-down .text {
    font-size: 28rem;
  }
  .section5 .wrap .road .content-wrap .content-down:nth-of-type(2) {
    padding-left: 21rem;
  }
  .section5 .wrap .road .content-wrap .content-down:nth-of-type(3) .title {
    padding-left: 27rem;
  }
  .section5 .wrap .road .content-wrap .content-down:nth-of-type(4) .title {
    padding-left: 6rem;
  }
  .section5 .wrap .road .content-wrap .content-down:nth-of-type(5) {
    padding-left: 21rem;
  }
}
@media (max-width: 768px) {
  .section5 {
    height: 850rem;
  }
  .section5 .wrap {
    width: 85%;
  }
  .section5 .wrap .content .title {
    font-size: 65rem;
    width: 600rem;
  }
  .section5 .wrap .content .text {
    font-size: 30rem;
    width: 700rem;
  }
  .section5 .wrap .road img {
    width: 1599rem;
    height: 54rem;
  }
  .section5 .wrap .road .content-wrap {
    margin-left: -20rem;
  }
  .section5 .wrap .road .content-wrap .content-down .title {
    font-size: 45rem;
    width: 280rem;
  }
  .section5 .wrap .road .content-wrap .content-down .text {
    font-size: 30rem;
  }
}
@media (max-width: 540px) {
  .section5 {
    height: 950rem;
  }
  .section5 .wrap .content .title {
    font-size: 70rem;
    width: 700rem;
  }
  .section5 .wrap .content .text {
    font-size: 40rem;
    width: 900rem;
  }
  .section5 .wrap .road img {
    width: 1635rem;
    height: 58rem;
  }
  .section5 .wrap .road .content-wrap {
    margin-left: -50rem;
  }
  .section5 .wrap .road .content-wrap .content-down .title {
    font-size: 45rem;
    width: 300rem;
  }
  .section5 .wrap .road .content-wrap .content-down .text {
    font-size: 40rem;
    margin-left: -45rem;
  }
  .section5 .wrap .road .content-wrap .content-down:nth-of-type(1) .text {
    margin-left: 0;
  }
}
.section6 {
  background: #181818fd;
  height: 932rem;
  overflow: visible;
}
.section6 .wrap {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding-top: 80rem;
  width: 80%;
  margin: 0 auto;
}
.section6 .wrap .title {
  position: relative;
  margin-left: 150rem;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section6 .wrap .container-wrap {
  position: relative;
  padding-top: 70rem;
  display: flex;
  flex-direction: row;
  gap: 30rem;
  margin: 0 auto;
}
.section6 .wrap .container-wrap .col-wrap {
  display: flex;
  flex-direction: row;
  gap: 30rem;
}
.section6 .wrap .container-wrap .col-wrap .col {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  cursor: pointer;
}
.section6 .wrap .container-wrap .col-wrap .col img {
  width: 329rem;
  height: 253rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content .title {
  margin: 0 0;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #FFFFFF;
  width: 350rem;
  height: 100rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content-down {
  display: flex;
  flex-direction: row;
  gap: 55rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content-down .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content-down .more {
  position: relative;
  display: flex;
  background: url(../assets/btn-info-sec5.png) no-repeat;
  background-size: 100%;
  width: 176rem;
  height: 34rem;
}
.section6 .wrap .container-wrap .col-wrap .col .content-down .more a {
  position: relative;
  display: flex;
  align-items: center;
  left: 25%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container-wrap .row:nth-of-type(2) {
  position: relative;
  top: 50rem;
}
.section6 .wrap .btn_more {
  position: relative;
  display: flex;
  align-self: center;
  margin-top: 100rem;
  background: url(../assets/btn-sec5.png) no-repeat;
  background-size: 100%;
  width: 250rem;
  height: 50rem;
}
.section6 .wrap .btn_more a {
  position: relative;
  display: flex;
  align-items: center;
  left: 30%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #FFFFFF;
  width: 200rem;
}
.section6 .cube {
  position: relative;
  margin-top: -1062rem;
}
.section6 .cube img {
  width: 494rem;
  height: 441rem;
}
.section6 .cube2 {
  position: relative;
  margin-top: -190rem;
  margin-left: 1625rem;
  width: 200rem;
}
.section6 .cube2 img {
  width: 295rem;
  height: 290rem;
}
@media (max-width: 1024px) {
  .section6 {
    height: 1900rem;
  }
  .section6 .wrap .title {
    font-size: 60rem;
  }
  .section6 .wrap .container-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap {
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col {
    gap: 20rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col img {
    width: 500rem;
    height: 413rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content .title {
    font-size: 35rem;
    width: 500rem;
    height: 150rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down {
    gap: 145rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .text {
    font-size: 28rem;
    width: 125rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more {
    width: 227rem;
    height: 44rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more a {
    left: 17%;
    font-size: 28rem;
    width: 200rem;
  }
  .section6 .wrap .btn_more {
    margin-top: 50rem;
    width: 300rem;
    height: 100rem;
  }
  .section6 .wrap .btn_more a {
    left: 25%;
    font-size: 35rem;
    width: 200rem;
    align-items: unset;
    padding-top: 4rem;
  }
  .section6 .cube {
    position: relative;
    margin-top: -2010rem;
  }
  .section6 .cube img {
    width: 534rem;
    height: 471rem;
  }
  .section6 .cube2 {
    position: relative;
    margin-top: -240rem;
    margin-left: 1468rem;
    width: 335rem;
  }
  .section6 .cube2 img {
    width: 335rem;
    height: 330rem;
  }
}
@media (max-width: 768px) {
  .section6 {
    height: 2000rem;
  }
  .section6 .wrap .title {
    font-size: 65rem;
  }
  .section6 .wrap .container-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap {
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col {
    gap: 20rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col img {
    width: 550rem;
    height: 448rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content .title {
    font-size: 40rem;
    width: 550rem;
    height: 165rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down {
    gap: 145rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .text {
    font-size: 30rem;
    width: 135rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more {
    width: 249rem;
    height: 49rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more a {
    left: 17%;
    font-size: 30rem;
    width: 200rem;
  }
  .section6 .wrap .btn_more {
    margin-top: 50rem;
    width: 300rem;
    height: 100rem;
  }
  .section6 .wrap .btn_more a {
    left: 25%;
    font-size: 40rem;
    width: 200rem;
    align-items: unset;
    padding-top: 4rem;
  }
  .section6 .cube {
    position: relative;
    margin-top: -2155rem;
  }
  .section6 .cube img {
    width: 574rem;
    height: 511rem;
  }
  .section6 .cube2 {
    position: relative;
    margin-top: -240rem;
    margin-left: 1468rem;
    width: 375rem;
  }
  .section6 .cube2 img {
    width: 375rem;
    height: 370rem;
  }
}
@media (max-width: 540px) {
  .section6 {
    height: 2200rem;
  }
  .section6 .wrap .title {
    font-size: 70rem;
  }
  .section6 .wrap .container-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap {
    gap: 60rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col {
    gap: 20rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col img {
    width: 600rem;
    height: 500rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content .title {
    font-size: 45rem;
    width: 600rem;
    height: 190rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down {
    gap: 114rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .text {
    font-size: 40rem;
    width: 178rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more {
    width: 305rem;
    height: 63rem;
  }
  .section6 .wrap .container-wrap .col-wrap .col .content-down .more a {
    left: 17%;
    font-size: 40rem;
    width: 300rem;
  }
  .section6 .wrap .btn_more {
    margin-top: 50rem;
    width: 380rem;
    height: 80rem;
  }
  .section6 .wrap .btn_more a {
    left: 25%;
    font-size: 45rem;
    width: 300rem;
    align-items: unset;
    padding-top: 10rem;
  }
  .section6 .cube {
    position: relative;
    margin-top: -2270rem;
  }
  .section6 .cube img {
    width: 574rem;
    height: 511rem;
  }
  .section6 .cube2 {
    position: relative;
    margin-top: -240rem;
    margin-left: 1468rem;
    width: 375rem;
  }
  .section6 .cube2 img {
    width: 375rem;
    height: 370rem;
  }
}
.section7 {
  background: url(../assets/bg-sec6.png) no-repeat;
  background-size: 100%;
  height: 866rem;
  margin-top: -62rem;
}
.section7 .content {
  position: relative;
  display: block;
  margin-top: 150rem;
  margin-left: 388rem;
}
.section7 .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section7 .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 600rem;
}
.section7 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section7 .container .col-wrap {
  display: flex;
  flex-direction: row;
  gap: 50rem;
}
.section7 .container .col-wrap .col {
  cursor: pointer;
}
.section7 .container .col-wrap .col img {
  width: 646rem;
  height: 309rem;
}
.section7 .container .col-wrap .col .content-inner {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section7 .container .col-wrap .col .content-inner .title-inner {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 32rem;
  color: #FFFFFF;
  width: 500rem;
}
.section7 .container .col-wrap .col .content-inner .title-inner .number {
  font-size: 24rem;
}
.section7 .container .col-wrap .col .content-inner .text-inner {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 520rem;
}
.section7 .container .col-wrap .col .content-inner .text-inner .head {
  font-size: 24rem;
}
@media (max-width: 1024px) {
  .section7 {
    background: #000000;
    height: 1900rem;
  }
  .section7 .content .title {
    font-size: 60rem;
  }
  .section7 .content .text {
    font-size: 28rem;
    width: 1100rem;
  }
  .section7 .container {
    margin: 30rem auto 0;
  }
  .section7 .container .col-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section7 .container .col-wrap .col img {
    width: 1100rem;
    height: 663rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner {
    font-size: 60rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner .number {
    font-size: 30rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner {
    font-size: 28rem;
    width: 1100rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner .head {
    font-size: 30rem;
  }
}
@media (max-width: 768px) {
  .section7 {
    background: #000000;
    height: 2000rem;
  }
  .section7 .content .title {
    font-size: 65rem;
  }
  .section7 .content .text {
    font-size: 30rem;
    width: 1100rem;
  }
  .section7 .container {
    margin: 30rem auto 0;
  }
  .section7 .container .col-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section7 .container .col-wrap .col img {
    width: 1100rem;
    height: 663rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner {
    font-size: 65rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner .number {
    font-size: 35rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner {
    font-size: 30rem;
    width: 1100rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner .head {
    font-size: 35rem;
  }
}
@media (max-width: 540px) {
  .section7 {
    background: #000000;
    height: 2600rem;
  }
  .section7 .content {
    margin-left: 288rem;
  }
  .section7 .content .title {
    font-size: 70rem;
  }
  .section7 .content .text {
    font-size: 40rem;
    width: 1400rem;
  }
  .section7 .container {
    margin: 30rem auto 0;
    width: 72%;
  }
  .section7 .container .col-wrap {
    flex-direction: column;
    gap: 60rem;
  }
  .section7 .container .col-wrap .col img {
    width: 1400rem;
    height: 963rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner {
    font-size: 70rem;
    width: 1400rem;
  }
  .section7 .container .col-wrap .col .content-inner .title-inner .number {
    font-size: 45rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner {
    font-size: 40rem;
    width: 1400rem;
  }
  .section7 .container .col-wrap .col .content-inner .text-inner .head {
    font-size: 45rem;
  }
}
.section8 {
  background: url(../assets/bgsec8.png) top center no-repeat;
  background-size: 100%;
  height: 692rem;
  overflow: visible;
  margin-top: -80rem;
}
.section8 .texts {
  padding-top: 80rem;
  padding-left: 388rem;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 751rem;
}
.section8 .slide-cont {
  position: absolute;
  top: 250rem;
  left: 50%;
  transform: translate(-50%);
}
.section8 .slide-cont .slide-box {
  position: relative;
  width: 700rem;
  height: 406rem;
  margin: 0 auto;
}
.section8 .slide-cont .slide-box .slide-item {
  transform: scale(0.67);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.6s, opacity 0.6s, visibility 0.6s;
}
.section8 .slide-cont .slide-box .slide-item .slide-card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.section8 .slide-cont .slide-box .slide-item .slide-card .card-front img {
  position: absolute;
  width: 700rem;
  border-radius: 48rem;
}
.section8 .slide-cont .slide-box .item-active {
  visibility: visible;
  opacity: 1;
}
.section8 .slide-cont .slide-box .item-prev {
  transform: translateX(-330rem) scale(0.67);
}
.section8 .slide-cont .slide-box .item-next,
.section8 .slide-cont .slide-box .item-prev {
  visibility: visible;
  z-index: 1;
  opacity: 0.6;
}
.section8 .slide-cont .slide-box .item-next {
  transform: translateX(330rem) scale(0.67);
}
.section8 .slide-cont .slide-box .item-center {
  transform: translate(0);
  z-index: 2;
  opacity: 1;
}
.section8 .cube {
  position: relative;
  display: block;
  margin-top: -400rem;
}
.section8 .cube img {
  width: 566rem;
  height: 563rem;
}
.section8 .cube2 {
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: 71rem;
  margin-left: 1340rem;
}
.section8 .cube2 img {
  width: 497rem;
  height: 640rem;
}
@media (max-width: 1024px) {
  .section8 {
    background: #181818fd;
    height: 900rem;
  }
  .section8 .texts {
    font-size: 60rem;
    width: 1000rem;
  }
  .section8 .slide-cont .slide-box {
    width: 900rem;
    height: 503rem;
  }
  .section8 .slide-cont .slide-box .slide-item .slide-card .card-front img {
    width: 900rem;
    border-radius: 63rem;
  }
  .section8 .slide-cont .slide-box .item-prev {
    transform: translateX(-430rem) scale(0.67);
  }
  .section8 .slide-cont .slide-box .item-next {
    transform: translateX(430rem) scale(0.67);
  }
  .section8 .cube {
    margin-top: -400rem;
  }
  .section8 .cube img {
    width: 566rem;
    height: 563rem;
  }
  .section8 .cube2 {
    margin-top: 254rem;
    margin-left: 1340rem;
  }
  .section8 .cube2 img {
    width: 497rem;
    height: 640rem;
  }
}
@media (max-width: 768px) {
  .section8 {
    background: #181818fd;
    height: 900rem;
  }
  .section8 .texts {
    font-size: 65rem;
    width: 1000rem;
  }
  .section8 .slide-cont .slide-box {
    width: 900rem;
    height: 503rem;
  }
  .section8 .slide-cont .slide-box .slide-item .slide-card .card-front img {
    width: 900rem;
    border-radius: 63rem;
  }
  .section8 .slide-cont .slide-box .item-prev {
    transform: translateX(-430rem) scale(0.67);
  }
  .section8 .slide-cont .slide-box .item-next {
    transform: translateX(430rem) scale(0.67);
  }
  .section8 .cube {
    margin-top: -400rem;
  }
  .section8 .cube img {
    width: 566rem;
    height: 563rem;
  }
  .section8 .cube2 {
    margin-top: 254rem;
    margin-left: 1340rem;
  }
  .section8 .cube2 img {
    width: 497rem;
    height: 640rem;
  }
}
@media (max-width: 540px) {
  .section8 {
    background: #181818fd;
    height: 900rem;
  }
  .section8 .texts {
    font-size: 70rem;
    width: 1000rem;
  }
  .section8 .slide-cont .slide-box {
    width: 900rem;
    height: 503rem;
  }
  .section8 .slide-cont .slide-box .slide-item .slide-card .card-front img {
    width: 900rem;
    border-radius: 63rem;
  }
  .section8 .slide-cont .slide-box .item-prev {
    transform: translateX(-430rem) scale(0.67);
  }
  .section8 .slide-cont .slide-box .item-next {
    transform: translateX(430rem) scale(0.67);
  }
  .section8 .cube {
    margin-top: -400rem;
  }
  .section8 .cube img {
    width: 566rem;
    height: 563rem;
  }
  .section8 .cube2 {
    margin-top: 254rem;
    margin-left: 1340rem;
  }
  .section8 .cube2 img {
    width: 497rem;
    height: 640rem;
  }
}
.section9 {
  background: url(../assets/bg-sec8.png) top center no-repeat;
  background-size: 100%;
  height: 334rem;
  z-index: 1;
}
.section9 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section9 .container .row .col .content-inner {
  position: relative;
  display: block;
  top: 80rem;
  left: 120rem;
}
.section9 .container .row .col .content-inner p {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
}
.section9 .container .row .col .email {
  position: relative;
  display: flex;
  top: 42rem;
  left: 57rem;
  border-radius: 25px;
}
.section9 .container .row .col .email input {
  position: relative;
  display: flex;
  width: 273rem;
  height: 40rem;
  align-items: center;
  padding: 0 20rem;
  box-shadow: none;
  outline: none !important;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .email input::placeholder {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .sign {
  position: relative;
  display: flex;
  top: 110rem;
  left: 120rem;
  background: url(../assets/btn-sec8.png) no-repeat;
  background-size: 100%;
  width: 273rem;
  height: 39rem;
}
.section9 .container .row .col .sign a {
  position: relative;
  display: flex;
  align-items: center;
  left: 35%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 200rem;
}
.section9 .copy-right {
  position: relative;
  top: 166rem;
  left: 360rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 500rem;
}
