a {
  text-decoration: none;
}
body {
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section_head {
  position: fixed;
  width: 100%;
  height: 75rem;
  background: #050505;
  z-index: 10;
}
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.navbar .logo {
  position: relative;
  padding-left: 180rem;
  width: 38%;
  height: 75rem;
}
.navbar .logo img {
  width: 276rem;
}
.navbar .menu {
  position: relative;
  display: flex;
  top: 0;
  width: 62%;
}
.navbar .menu li {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  padding: 0 13rem;
  cursor: pointer;
  list-style-type: none;
}
.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}
.navbar .menu li.curr::before {
  position: absolute;
  content: "";
  background: url(../assets/underline-nav.png) no-repeat;
  background-size: 100%;
  width: 80%;
  height: 28px;
  top: 76%;
  z-index: -1;
}
.navbar .menu li.drop::before {
  position: absolute;
  content: "";
  background: url(../assets/Line-2-nav.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2px;
  top: 135%;
}
.navbar .menu li.drop img {
  position: absolute;
  top: -3rem;
  left: 80rem;
}
.navbar .menu li.drop .sub-menu {
  /* height: 20rem; */
  position: absolute;
  top: 150%;
  left: 15%;
  width: 100rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  padding: 0.25rem;
}
.navbar .menu li:nth-of-type(7) {
  margin-left: 180rem;
}
.navbar .menu .drop:hover .sub-menu,
.navbar .menu .sub-menu:hover {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.section2 {
  position: relative;
  background: url(../assets/bg-sec1.png) no-repeat;
  background-size: 100%;
  height: 899rem;
}
.section2 .wrap {
  display: flex;
  flex-direction: column;
  padding: 244rem 0 0 236rem;
}
.section2 .wrap .content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550rem;
  gap: 40rem;
}
.section2 .wrap .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section2 .wrap .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #fff;
}
.section2 .wrap .more-btn {
  background: url(../assets/btn-sec1.png) no-repeat;
  background-size: 100%;
  position: absolute;
  display: flex;
  width: 281px;
  height: 74px;
  margin-top: 250rem;
}
.section2 .wrap .more-btn a {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 25rem;
  color: #fff;
  padding: 20rem 0 0 90rem;
  text-decoration: none;
}
.section3 {
  position: relative;
  background: url(../assets/bg-sec2.png) no-repeat;
  background-size: cover;
  height: 694rem;
  overflow: visible;
}
.section3 .content-wrap {
  display: flex;
  flex-direction: row;
  padding-top: 61rem;
  padding-left: 207rem;
  column-gap: 312rem;
}
.section3 .content-wrap .content {
  position: relative;
  display: flex;
  width: 400rem;
  flex-direction: column;
  row-gap: 20rem;
  padding-top: 149rem;
}
.section3 .content-wrap .content .title {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section3 .content-wrap .content .text {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 24rem;
  color: #fff;
  width: 600rem;
}
.section3 .content-wrap img {
  position: relative;
  width: 921rem;
  height: 520rem;
}
.section3 .cube {
  position: relative;
  margin-top: -663rem;
  margin-left: 129rem;
}
.section3 .cube img {
  width: 233rem;
  height: 239rem;
}
.section4 {
  position: relative;
  background: url(../assets/bg-sec3.png) no-repeat;
  background-size: cover;
  height: 1372rem;
  overflow: visible;
}
.section4 .wrapper {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin: 0 auto;
  padding-top: 50rem;
  gap: 50rem;
}
.section4 .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section4 .wrapper .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #fff;
}
.section4 .wrapper .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 18rem;
  color: #fff;
  width: 700rem;
}
.section4 .wrapper .content .text ul li {
  list-style-type: none;
}
.section4 .wrapper .content .text ul li:nth-of-type(1) {
  padding-left: 118rem;
}
.section4 .wrapper .content .text ul li:nth-of-type(2) {
  padding-left: 135rem;
}
.section4 .wrapper .content .text ul li:nth-of-type(3) {
  padding-left: 79rem;
}
.section4 .wrapper .content .text ul li:nth-of-type(4) {
  padding-left: 45rem;
}
.section4 .wrapper .images {
  display: flex;
  flex-direction: row;
  gap: 25rem;
}
.section4 .wrapper .images .i-left {
  position: relative;
}
.section4 .wrapper .images .i-right {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 27rem;
}
.section4 .wrapper .images .i-right .info {
  background: url(../assets/bg-info-sec3.png) no-repeat;
  background-size: 100%;
  width: 588rem;
  height: 170rem;
  display: flex;
  flex-direction: row;
}
.section4 .wrapper .images .i-right .info img {
  width: 161rem;
  height: 170rem;
  position: relative;
  left: -1rem;
}
.section4 .wrapper .images .i-right .info .text-wrapper {
  padding-top: 24rem;
}
.section4 .wrapper .images .i-right .info .text-wrapper .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #515151;
}
.section4 .wrapper .images .i-right .info .text-wrapper .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 26rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 162rem;
  padding-left: 120rem;
  padding-top: 50rem;
}
.section4 .wrapper .content-wrapper .service-list {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}
.section4 .wrapper .content-wrapper .service-list .row {
  display: flex;
  flex-direction: row;
  gap: 30rem;
}
.section4 .wrapper .content-wrapper .service-list .row .info {
  background: url(../assets/bg-info2-sec3.png) no-repeat;
  background-size: 100%;
  width: 210rem;
  height: 210rem;
  display: flex;
  flex-direction: column;
  padding-top: 42rem;
  align-items: center;
}
.section4 .wrapper .content-wrapper .service-list .row .info .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 40rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper .service-list .row .info .text {
  padding-left: 22rem;
  width: 115rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 20rem;
  color: #515151;
}
.section4 .wrapper .content-wrapper .service-list .row .info3 .text {
  width: 130rem;
}
.section4 .wrapper .content-wrapper .service-list .row .info4 .text {
  width: 130rem;
}
.section4 .wrapper .content-wrapper .content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100rem;
  width: 430rem;
}
.section4 .wrapper .content-wrapper .content-right .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 300rem;
}
.section4 .wrapper .content-wrapper .content-right .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 18rem;
  color: #FFFFFF;
  width: 430rem;
}
.section4 .cube {
  position: relative;
  margin-top: -1340rem;
  margin-left: 20rem;
}
.section4 .cube img {
  width: 424rem;
  height: 351rem;
}
.section5 {
  position: relative;
  background: url(../assets/bg-sec4.png) no-repeat;
  background-size: 100%;
  height: 602rem;
}
.section5 .wrap {
  display: flex;
  flex-direction: column;
  width: 63%;
  margin: 0 auto;
  padding-top: 50rem;
  gap: 66rem;
}
.section5 .wrap .road {
  padding-left: 40rem;
}
.section5 .wrap .content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section5 .wrap .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section5 .wrap .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 400rem;
}
.section6 {
  background: url(../assets/bg-sec5.png) no-repeat;
  background-size: 100%;
  height: 1232rem;
  overflow: visible;
}
.section6 .wrap {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding-top: 80rem;
  width: 62%;
  margin: 0 auto;
}
.section6 .wrap .title {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section6 .wrap .container {
  position: relative;
  padding-top: 70rem;
}
.section6 .wrap .container .row .col {
  cursor: pointer;
}
.section6 .wrap .container .row .col .content .title {
  margin: 0 0;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #FFFFFF;
  width: 300rem;
}
.section6 .wrap .container .row .col .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container .row .col .content-down {
  display: flex;
  flex-direction: row;
  gap: 55rem;
}
.section6 .wrap .container .row .col .content-down .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container .row .col .content-down .more {
  position: relative;
  display: flex;
  background: url(../assets/btn-info-sec5.png) no-repeat;
  background-size: 100%;
  width: 176rem;
  height: 34rem;
}
.section6 .wrap .container .row .col .content-down .more a {
  position: relative;
  display: flex;
  align-items: center;
  left: 25%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 100rem;
}
.section6 .wrap .container .row:nth-of-type(2) {
  position: relative;
  top: 50rem;
}
.section6 .wrap .btn_more {
  position: relative;
  display: flex;
  margin-left: 422rem;
  margin-top: 100rem;
  background: url(../assets/btn-sec5.png) no-repeat;
  background-size: 100%;
  width: 250rem;
  height: 50rem;
}
.section6 .wrap .btn_more a {
  position: relative;
  display: flex;
  align-items: center;
  left: 30%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 24rem;
  color: #FFFFFF;
  width: 200rem;
}
.section6 .cube {
  position: relative;
  margin-top: -1361rem;
}
.section6 .cube img {
  width: 494rem;
  height: 441rem;
}
.section7 {
  background: url(../assets/bg-sec6.png) no-repeat;
  background-size: 100%;
  height: 866rem;
  margin-top: -62rem;
}
.section7 .content {
  position: relative;
  display: block;
  margin-top: 150rem;
  margin-left: 388rem;
}
.section7 .content .title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 500rem;
}
.section7 .content .text {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 600rem;
}
.section7 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section7 .container .row .col {
  cursor: pointer;
}
.section7 .container .row .col .content-inner {
  position: relative;
  display: block;
  top: 10rem;
  left: 120rem;
}
.section7 .container .row .col .content-inner .title-inner {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 32rem;
  color: #FFFFFF;
  width: 500rem;
}
.section7 .container .row .col .content-inner .title-inner .number {
  font-size: 24rem;
}
.section7 .container .row .col .content-inner .text-inner {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 520rem;
}
.section7 .container .row .col .content-inner .text-inner .head {
  font-size: 24rem;
}
.section8 {
  background: url(../assets/bgsec8.png) top center no-repeat;
  background-size: 100%;
  height: 692rem;
  overflow: visible;
  margin-top: -80rem;
}
.section8 .texts {
  padding-top: 80rem;
  padding-left: 388rem;
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  font-size: 50rem;
  color: #FFFFFF;
  width: 751rem;
}
.section8 .slide-cont {
  position: absolute;
  top: 250rem;
  left: 50%;
  transform: translate(-50%);
}
.section8 .slide-cont .slide-box {
  position: relative;
  width: 700rem;
  height: 406rem;
  margin: 0 auto;
}
.section8 .slide-cont .slide-box .slide-item {
  transform: scale(0.67);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.6s, opacity 0.6s, visibility 0.6s;
}
.section8 .slide-cont .slide-box .slide-item .slide-card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.section8 .slide-cont .slide-box .slide-item .slide-card .card-front img {
  position: absolute;
  width: 700rem;
  border-radius: 48rem;
}
.section8 .slide-cont .slide-box .item-active {
  visibility: visible;
  opacity: 1;
}
.section8 .slide-cont .slide-box .item-prev {
  transform: translateX(-285rem) scale(0.67);
}
.section8 .slide-cont .slide-box .item-next,
.section8 .slide-cont .slide-box .item-prev {
  visibility: visible;
  z-index: 1;
  opacity: 0.6;
}
.section8 .slide-cont .slide-box .item-next {
  transform: translateX(285rem) scale(0.67);
}
.section8 .slide-cont .slide-box .item-center {
  transform: translate(0);
  z-index: 2;
  opacity: 1;
}
.section8 .cube {
  position: relative;
  display: block;
  margin-top: -400rem;
}
.section8 .cube img {
  width: 566rem;
  height: 563rem;
}
.section8 .cube2 {
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: 71rem;
  margin-left: 1340rem;
}
.section8 .cube2 img {
  width: 497rem;
  height: 640rem;
}
.section9 {
  background: url(../assets/bg-sec8.png) top center no-repeat;
  background-size: 100%;
  height: 334rem;
  z-index: 1;
}
.section9 .container {
  position: relative;
  width: 60%;
  margin: 0 auto 0;
}
.section9 .container .row .col .content-inner {
  position: relative;
  display: block;
  top: 80rem;
  left: 120rem;
}
.section9 .container .row .col .content-inner p {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 300rem;
}
.section9 .container .row .col .email {
  position: relative;
  display: flex;
  top: 42rem;
  left: 57rem;
  border-radius: 25px;
}
.section9 .container .row .col .email input {
  position: relative;
  display: flex;
  width: 273rem;
  height: 40rem;
  align-items: center;
  padding: 0 20rem;
  box-shadow: none;
  outline: none !important;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .email input::placeholder {
  position: relative;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #000000;
}
.section9 .container .row .col .sign {
  position: relative;
  display: flex;
  top: 110rem;
  left: 120rem;
  background: url(../assets/btn-sec8.png) no-repeat;
  background-size: 100%;
  width: 273rem;
  height: 39rem;
}
.section9 .container .row .col .sign a {
  position: relative;
  display: flex;
  align-items: center;
  left: 35%;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 200rem;
}
.section9 .copy-right {
  position: relative;
  top: 166rem;
  left: 360rem;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16rem;
  color: #FFFFFF;
  width: 500rem;
}
